.pagination{
    display: flex;
    list-style: none;
    column-gap: 1.2rem;
    flex-wrap: wrap;
    row-gap: 0.5rem;

}
.page-link{
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    outline: none;
    border: none;
   background-color: rgba(255,255,255,0.4);
   transition: 0.3s;
   font-weight: 500;
}
.page-link:hover{
    background-color: rgba(255,255,255,0.1);
}
.active .page-link{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}