@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	padding-bottom: 100px;
	background: linear-gradient(to right, #bdc3c7, #2c3e50);
	scroll-behavior: smooth;
}
.posts {
	margin-top: 40px;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	position: relative;

	opacity: 0;
	transform: translate(-10%);
	animation: visible ease 1s forwards;
}

@keyframes visible {
	to{
		transform: translate(0);
		opacity: 1;
	}
	
}
.container{
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
@media screen and (max-width: 768px) {
	.posts {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 500px) {
	.posts {
		grid-template-columns: repeat(1, 1fr);
	}
}
